[
	{ rabbit, [
		{ loopback_users, [ guest ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ hipe_compile, true }
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] },
    {rabbitmq_mqtt, [{default_user,     <<"mqtt_guest">>},
                  {default_pass,     <<"guest">>},
                  {allow_anonymous,  true},
                  {vhost,            <<"/">>},
                  {exchange,         <<"amq.topic">>},
                  {subscription_ttl, 1800000},
                  {prefetch,         10},
                  {ssl_listeners,    []}
                  %% Default MQTT with TLS port is 8883
                  %% {ssl_listeners,    [8883]}
    ] }
]